h1 {
  color: #ee0000;
  background-color: #ffff;
  text-align: center;
}
#espaço {
  border: solid blue 5px;
  border-radius: 30px;
  background-color: rgb(150, 238, 238);
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.central {
  justify-content: center;
  display: flex;
  padding-top: 50px;
}
.central button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: blue;
}
input {
  width: 200px;
}
